@(id: Long, forma: Form[models.polimedia.Polimedia], tipos:List[models.polimedia.Tipo])
@import helper._

@main{
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li><a href="/poliMedia/admin/list">PoliMedia</a></li>
                    <li class="active">Edición</li>
                </ol>
            </div>
        </div>

        <h1>PoliMedia - edición</h1>
        @form( CSRF(routes.PoliMediaController.update(id)), 'role -> "form", 'id -> "frmPM", 'enctype -> "multipart/form-data", 'role->"form", 'autocomplete->"off") {
            <div class="row">
                <div class="col-lg-12">
                    @poliMediaForm(forma, tipos)
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-6 text-right">
                        <input type="submit" value="Actualizar" class="btn btn-success"  style="width: 40rem;">
                    </div>
                    <div class="col-md-6 text-left">
                        <a href="/poliMedia/admin/list" class="btn btn-primary" style="width: 40rem">Cancelar</a>
                    </div>
                </div>
            </div>
        }
    </div>


    <script>

        $(document).ready(function() {
            if (window.performance && window.performance.navigation.type === 2) {
                // La página se ha cargado desde el botón "back"
                location.reload(true); // Forzar la recarga de la página sin utilizar la caché del navegador
            }
            $("#frmPM")[0].reset();
            leer();
            agregarArchivoTipo(4);
            agregarArchivoTipo(5);
        });

        function leer(){
            <!-- Contienen una url -->
            $("[name='tipo.id'][value='@forma.get().tipo.id']").prop("checked", true);
            $("[name='tipo.id']:checked").click();
            if ( $("[name='tipo.id']:checked").val()=="2"){
                $("[name='ligaMoodle']").val("@forma.get().polimediaUrl.url");
            }
            if ( $("[name='tipo.id']:checked").val()=="3"){
                $("[name='ligaYouTube']").val("@forma.get().polimediaUrl.url");
            }
            <!-- Contienen n archivos -->
            var tipo = $("[name='tipo.id']:checked").val();
            if ( tipo=="4" ||  tipo=="5"){
                var cadena="";
                @for(a<-forma.get().archivos){
                    cadena+="<div class='row'>";
                    cadena+="    <div class='col-xs-11 col-sm-11 col-md-11 col-lg-11'>";
                    cadena+="        <input type='hidden' name='archivos.id' value=@a.id>";
                    cadena+="        <a href='@routes.PoliMediaController.verArchivo(a.id)' target='_blank'>@a.nombreArchivo</a>";
                    cadena+="    </div>";
                    cadena+="    <div class='col-xs-1 col-sm-1 col-md-1 col-lg-1'>";
                    //cadena+="        <a href=''><i class='fa fa-trash' aria-hidden='true'></i></a>";
                    cadena+='      <a href="javascript:void(0);" data-name="btnEliminaRenglon"><i class="fa fa-trash" aria-hidden="true"></i></a>';

                    cadena+="    </div>";
                    cadena+="</div>";
                }
                if (tipo=="4")
                    $("#tablaPDFs").append(cadena);
                if (tipo=="5")
                    $("#tablaArchivos").append(cadena);
            }
        }

        function agregarArchivoTipo(tipo){
            console.log("desde agregarArchivoTipo "+tipo);
            var x;
            var permitidos;
            var nombreComp;
            if (tipo==5){
                    x = $("#tablaArchivos");
                    permitidos="*.*";
                    nombreComp = "fileGral";
                }
            if (tipo==4){
                    x = $("#tablaPDFs");
                    permitidos = "image/*, .pdf";
                    nombreComp = "filePDF";
                }
            var nrenglon = $(x).find("div.row").length;
            console.log(nrenglon)
            var arrString = [];
            renglon ='<div class="row">';
            renglon+='  <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">';
            renglon+='             <input type="file" accept="'+permitidos+'" id="contenido_'+tipo+'_'+nrenglon+'" name="'+nombreComp+'" class="form-control" multiple=false>';
            renglon+='  </div>';
            renglon+='  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">';
            renglon+='      <a href="javascript:void(0);" data-name="btnEliminaRenglon"><i class="fa fa-trash" aria-hidden="true"></i></a>';
            renglon+='  </div>';
            $(x).append(renglon);
            $(x).find('div.row:even').css("background-color", "#f7f7f7");
        }


        $("[data-name='radioTipo']").on("click", function(){
            var id = $(this).val();
            console.log(id)
            $("#rowArchivos, #rowPDFs, #rowYouTube, #rowMoodle, #rowUrl").hide();
            switch (id){
                case "1":
                    $("#rowUrl").show();
                    break;
                case "2":
                    $("#rowMoodle").show();
                    break;
                case "3":
                    $("#rowYouTube").show();
                    console.log("?")
                    break;
                case "4":
                    $("#rowPDFs").show();
                    console.log("?")
                    break;
                case "5":
                    $("#rowArchivos").show();
                    console.log("?")
                    break;
            }
        });


        $(document).on("click","[data-name='btnEliminaRenglon']", function(){
            $(this).closest("div.row").remove();
        });

        $("#btn2").click(function(){
            var params = new FormData();
            params.append('habilitado', $("#habilitado:checked").val());
            params.append('tipo',  $("[name='tipo.id']:checked").val());
            console.dir(params);

             var jsonData=$("#frmPM").serializeArray().reduce(function(a, z) { a[z.name] = z.value; return a; }, {});
             console.dir(jsonData)
        });

        $(document).on('change','input[type="file"]',validaTamArchivo);

        function validaTamArchivo() {
          var tam = this.files[0].size;
          // 1 kb = 1024 b
          // 1 mb = 1048576 b
          // 5 mb = 5242880 b
          if (tam > 5242880) {
            swal("Archivo demasiado grande", "Los archivos deben pesar menos de 5 MB", "error");
            $(this).val("");
            $(this).html("");
          }
        }


    </script>
}

<script src="@routes.Assets.at("sweetalert2/sweetalert2.all.js")" type="text/javascript"></script>


