@(forma: Form[models.polimedia.Polimedia], tipos:List[models.polimedia.Tipo])
@import helper._
@import java.text.SimpleDateFormat;


<style nonce="@session.get("nonce")">
    .checkbox-group {
        display: inline-block;
        margin-right: 2px;
    }

    .info {
        color: #777;
    }
</style>
<div class="form-group">
    <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Generales</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-4 col-md-7 col-lg-7">
                            <label>Título del recurso</label><br>
                            @forma.get().recurso.titulo
                        </div>
                        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <label>Calificación</label><br>
                            @forma.get().recurso.calificacion.calificacion
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
                            <label>Tipo recurso</label><br>
                            @forma.get().recurso.clasificacion.tiporecurso.descripcion
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8" >
                                <label>Unidad académica</label><br>
                                @forma.get().recurso.unidadacademica.nombre
                        </div>
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <label>Nivel educativo</label><br>
                            @forma.get().recurso.niveleducativo.descripcion
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
                            <label>Programa académico</label><br>
                            @forma.get().recurso.programaacad
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <label>Autor responsable</label><br>
                            @forma.get().recurso.getResponsable().nombreCompleto()
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            <label>Fecha elaboración</label><br>
                            @forma.get().recurso.elaboracion.format("dd/MM/yyyy")
                        </div>
                    </div>
                    <div class="row" style="margin-top: 2rem;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <label>Sinópsis</label><br>
                            @forma.get().recurso.sinopsis
                        </div>
                    </div>

                    <div class="row" style="margin-top: 2rem;">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            @inputRadioGroup(
                            forma("habilitado"),
                            options = Seq("true"->"Si","false"->"No"),
                            '_label -> "Habilitado",
                            '_error -> forma("habilitado").error.map(_.withMessage("Seleccione un valor para el campo 'Habilitado'")),
                            '_help -> "Indique si el Recurso Didáctico Digital estará disponible para su consulta en línea (independientemente de la entrada en carrusel).",
                            '_class -> "myclassname"
                            )
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Tipo de medio</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <dl class=" " id="tipo_id_field">
                                    <dt><label for="tipo_id1">Tipo</label></dt>
                                    <dd>
                                        @for(t<-tipos){
                                        <div class="checkbox-group">
                                            <input type="radio" id="tipo_id@t.id" name="tipo.id" value="@t.id" class="input-block-level" data-name="radioTipo">
                                            <span style="margin-right:20px;" > @t.descripcion</span>
                                        </div>
                                        }
                                    </dd>
                                    <dd class="info" style="margin-top:1rem;">Elija como se recibe el RDD</dd>
                                </dl>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="rowUrl" style="display:none">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Url</h3>
                        </div>
                        <div class="panel-body">
                            <div style = "margin-bottom: 2rem;">
                                El autor se ha asegurado de mantener el RDD en algún servidor o servicio en línea de forma permanente. Escriba la URL o liga para acceder al RDD.
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    @inputText(forma("polimediaUrl.url"), '_label -> "URL", '_help -> "", 'type -> "text", 'class->"form-control" )
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="rowMoodle" style="display:none">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Nombre del RDD en Moodle</h3>
                        </div>
                        <div class="panel-body">
                            <div style = "margin-bottom: 2rem;">
                                El autor ha entregado copia del RDD en Moodle, y esta se ha dado de alta, ingrese la liga con el que se identifica.
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    @inputText(forma("ligaMoodle"), '_label -> "Liga de moodle", '_help -> "", 'type -> "text", 'class->"form-control" )
                                </div>

                            </div>



                        </div>
                    </div>



                </div>
            </div>
            <div class="row" id="rowYouTube" style="display:none">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Liga al video en el canal de YouTube</h3>
                        </div>
                        <div class="panel-body">
                            <div style = "margin-bottom: 2rem;">
                                El RDD ha sido subido al canal del YouTube de ........, ingrese la liga para tener acceso al mismo.
                            </div>

                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    @inputText(forma("ligaYouTube"), '_label -> "Liga al canal", '_help -> "", 'type -> "text", 'class->"form-control" )
                                </div>

                            </div>



                        </div>
                    </div>



                </div>
            </div>
            <div class="row" id="rowArchivos" style="display:none">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Archivos  <a href="javascript:agregarArchivoTipo(5)" title="Agregar componente para subir mas archivos"><i class="fa fa-plus-circle text-success fa-lg" aria-hidden="true"></i></a></h3>
                        </div>
                        <div class="panel-body">
                            <div style = "margin-bottom: 2rem;">
                                Ingresar el o los archivos que conforman el Recurso Didáctico Digital y que son necesarios para su funcionamiento.
                            </div>
                            <div id="tablaArchivos">
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="row" id="rowPDFs" style="display:none">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Archivos PDF o imágenes <a href="javascript:agregarArchivoTipo(4)" title="Agregar componente para subir mas archivos"><i class="fa fa-plus-circle text-success fa-lg" aria-hidden="true"></i></a></h3>
                        </div>
                        <div class="panel-body">
                            <div style = "margin-bottom: 2rem;">
                                Ingresar el o los archivos de imágenes o pdf del Recurso Didáctico Digital.
                            </div>
                            <div id="tablaPDFs">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="input">



                                        </div>
                                    </div>

                                </div>
                            </div>



                        </div>
                    </div>



                </div>
            </div>
        </div>
    </div>
</div>
