@(forma: Form[OficiovaloracionFormato])

@import helper._
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/recurso.css")"/> 



@main {
	<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<ol class="breadcrumb">
					  <li>Catálogos</li>
					  <li><a href="/formatoOV">Formato de oficio de valoración</a></li>
					  <li class="active">Agregar</li>
					</ol>			
				</div>
			</div>
            <div class="elContenido">
                <div class="row">
                    <div class="col-lg-12">
                      <h3>Agregar Formato de oficio de valoración</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        @form(CSRF(routes.DirigidoaController.save()), 'class->"form-inline", 'id->"frmCreate") {
                            @ovForm(forma)

                        }
                        <div class="actions">
                            <a href="@routes.DirigidoaController.list()" class="btn btn-default">Cancelar</a>
                        </div>
                     </div>
             </div>
            </div>
    </div>
    
    
}

@comunCatalogosJS("Create", "Dirigido a")

