@(forma: Form[OficiovaloracionFormato], tipo:String, numVersion:Int)
@import helper._


<style>
    textarea {width:100% !important;}
    .labelVariable {
        font-size: small;
        font-weight: bold;
        margin-bottom:10px;
    }
    .variable {
        <!--border: 1px solid #000;-->
        margin: 3px;
        padding: 3px;
        font-size: small;
        background-color: #dfdfdf;
    }
    .botonUpload {
        border: none !important;
        outline: none !important;
    }
</style>

<div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4">
        <table>
            <tr>
                <td style="padding-right:20px; vertical-align:top;">
                    <label>Versión</label><br>
                    <div id="laVersion">@numVersion</div>
                </td>
                <td>@inputRadioGroup(
                    forma("activo"),
                    options = options("true"->"Si","false"->"No"), 'labelAlterna -> "Obligatorio",
                    '_label -> "Activo", 'required->"required"
                    )</td>
            </tr>
        </table>

        <label for="archFondo">Imágen de fondo</label>
        <div style="margin-bottom:2rem;" class="text-muted">La imágen de fondo debe incluir logotipos en encabezado, pie de página y fechas que se conmemoran.</div>
        <div id="archFondoActual" style="display:none;">
            @if(tipo=="edit" && forma.get().getImagenFondo()!=null){
                PDF solo con la imagen de fondo:
                <a href="@routes.OficioValoracionFormatoController.soloFormatoImagen(forma.field("id").value().toLong)" target="_blank"> @forma.get().getImagenFondo().nombrearchivo</a><br><br>
            }
        </div>
        <div style="text-align:center; margin: 1rem;">
            <div class="text-muted small"> Resolución de la imágen: 2550 x 3300 pixeles.</div>
            <div class="text-muted small">Formato png o jpg, con fondo transparente.</div>
            <button class="btn  btn-link botonUpload" id="btnCargarImaFondo">
                <i class="fa fa-cloud-upload fa-4x" aria-hidden="true"></i>
                <div><small>Seleccionar un archivo</small></div>
            </button>
            <div id="msgNombreArchivo" >No se ha seleccionado archivo</div>
        </div>
        <input type="file" name="archFondo" id="archFondo" style="display:none;">


        <div style="margin-top: 4rem;">
            En las secciones: Cuerpo 1, Cuerpo 2 y Cuerpo 3 se usan las variables indicadas para ser reemplazadas por sus valores correspondientes.
        </div>

        <div id="previewFmto">

        </div>

    </div>
    <div class="col-sm-8 col-md-8 col-lg-8">
            <table style="border:1px;">
                <tr>
                    <td class="" style="width:100%" >
                        <div class="form-group" style="width:100%">
                            @textarea(forma("encabezado"), '_label -> "Encabezado", '_help -> "", 'required->"required",  'class->"form-control label-color-light" )
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="" style="width:100%" >
                        <div class="form-group" style="width:100%">
                            @textarea(forma("asunto"), '_label -> "Asunto", '_help -> "", 'required->"required",  'class->"form-control labelTema" )
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <div class="form-group" style="width:100%">
                            @textarea(forma("cuerpo1"), '_label -> "Cuerpo 1", 'class->"form-control", 'cols->"100%" )
                        </div>
                    </td>
                    <td style="padding-left:20px;">
                        <div class="labelVariable text-center">variables</div>
                        <div class="variable text-center">[folio]</div><div class="variable">[fechaFolio]</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <div class="form-group" style="width:100%">
                            @textarea(forma("cuerpo2"), '_label -> "Cuerpo 2", '_help -> "", 'required->"required",  'class->"form-control" )
                        </div>
                    </td>
                    <td style="padding-left:20px;">
                        <div class="labelVariable text-center">variables</div>
                        <div class="variable text-center">[evaluación]</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <div class="form-group" style="width:100%">
                            @textarea(forma("cuerpo3"), '_label -> "Cuerpo 3", '_help -> "", 'required->"required",  'class->"form-control labelTema" )
                        </div>
                    </td>
                    <td style="padding-left:20px;">
                        <div class="labelVariable text-center">variables</div>
                        <div class="variable text-center">[enlaces]</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <div class="form-group" style="width:100%">
                            @textarea(forma("cuerpo4"), '_label -> "Cuerpo 4", '_help -> "", 'required->"required",  'class->"form-control" )
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <div class="form-group" style="width:100%">
                            @textarea(forma("cuerpo5"), '_label -> "Cuerpo 5", '_help -> "", 'required->"required",  'class->"form-control" )
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <div class="form-group" style="width:100%">
                            @textarea(forma("despedida"), '_label -> "Despedida", '_help -> "", 'required->"required",  'class->"form-control" )
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="1">
                        <div class="form-group" style="width:100%">
                            @textarea(forma("direccionDEV"), '_label -> "Dirección DEV", '_help -> "", 'required->"required",  'class->"form-control" )
                        </div>
                    </td>
                </tr>
            </table>
    </div>
</div>




<!--input type="submit" value="Agregar" class="btn btn-primary"-->


