@(recurso: Recurso)

  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/solicitudFirma.css")"/> 
@main {

<table class="table table-bordered tablaSolicitudFirma">
	<tr>
		<td>
			<image src="@routes.Assets.at("images/escudoPoli.png")">
		</td>
		<td>
			INSTITUTO POLITÉCNICO NACIONAL<br>
			SECRETARÍA ACADÉMICA<br>
			UNIDAD POLITÉCNICA PARA LA EDUCACIÓN VIRTUAL<br>
			CÉDULA DE SOLICITUD DE EVALUACIÓN TÉCNICO-PEDAGÓGICA DE RECURSO DIDÁCTICO DIGITAL<br>
			CESOE
		</td>
		<td>
			<image src="@routes.Assets.at("images/logoUPEV.png")">
		</td>
	</tr>
	<tr>
		<td colspan="5"><div class="etiqueta">Datos de identidad</div></td>
	</tr>
</table>
}  