@(id: Long, rForm : Form[Recurso])
@implicitFieldConstructor = @{ FieldConstructor(myFieldConstructor.render) } 

 <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/recurso.css")"/>
 <script src="@routes.Assets.at("javascripts/utilerias.js")"></script> 
 <script src="/assets/javascripts/fullcalendar/moment.min.js" ></script>
@import helper._


<style>
    .swal2-container {
        .swal2-icon {
            font-size: 2rem !important;
        }
        .swal2-title {
            font-size: 5rem !important;
        }
        #swal2-content{
            font-size: 2rem !important;
        }
        .swal2-styled{
            font-size: 2rem !important;
        }
    }

</style>

@main{

    @modal( models.OficioValoracion.find.where().eq("recurso_id", id).findList().size )
	<div class="container-fluid">
 
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
				  <li>Recursos</li>
				  <li><a href="@routes.OficioValoracionController.list()">Recurso con oficio de valoración</a></li>
				  <li class="active">Asignar</li>
				</ol>			
			</div>
		</div>	


        <div class="elContenido">
            <div class="row">
                <div class="col-lg-12">
                    <h3>Generar el oficio de valoración al recurso '@rForm.get().titulo'</h3>
                </div>
            </div>
		    <div class="row">
			<div class="col-lg-12">		
			 	@form(CSRF(routes.OficioValoracionController.save(id)), 'role -> "form", 'id -> "frmAsignaOficio", 'enctype -> "multipart/form-data", 'role->"form") {
			 		<div class="form-group">
			 			<table class="table"  style="border: none;">
			 				<tr>
			 					<td colspan="1"  style="border: none;">@inputText(rForm("oficiovaloracion.numero"), 'labelAlterna -> "Folio  oficio de valoración", '_help -> "", 'size->"25", 'required->"required", 'class->"form-control" )</td>
                                <td style="border: none;">@inputText(rForm("oficiovaloracion.fechaoficio"), 'labelAlterna -> "Fecha del oficio", '_help -> "", 'required->"required", 'placeholder->"dd/mm/aaaa", 'class->"form-control", 'autocomplete->"off" )</td>
			 				</tr>
			 				<tr>
                                <td style="border: none;">@inputText(rForm("oficiovaloracion.foliorecepcion"), 'labelAlterna -> "Folio recepción", '_help -> "",  'size->"25", 'required->"required", 'placeholder->"", 'class->"form-control", 'autocomplete->"off" )</td>

                                <td style="border: none;">@inputText(rForm("oficiovaloracion.iniciales"), 'labelAlterna -> "Iniciales al final del oficio", 'size->"25", 'required->"required", 'class->"form-control", 'autocomplete->"off", '_help->"Iniciales que aparecen al final del oficio" )</td>
			 				</tr>
			 				<tr>
			 					<td colspan="2"  style="border: none;">
                                        <!--
										@inputFile(rForm("oficiovaloracion.contenido"),'size -> 10, 'labelAlterna->"Oficio digitalizado",'required -> "required", 'class->"form-control", 'accept->".pdf")
										-->

                                    <button class="btn btn-primary center-block" id="btnModal">Previsualizar y guardar el oficio de valoración</button>

				 					@if(rForm.get().oficiovaloracion.id != null){
				 						<div class="row" id="rowElimina">
				 							<div class="col-sm-8">
                                                Oficio de valoración actual
				 								<a href="@routes.RecursoController.verOficioValoracion(rForm.get().oficiovaloracion.id)" target="blank"> @rForm.get().oficiovaloracion.nombrearchivo</a>
				 							</div>
                                            <!--
				 							<div class="col-sm-4">
				 								<button class="btn btn-primary center-block" onclick="elimina()">Eliminar y agregar otro</button>
				 							</div>
				 							-->
				 						</div>
				 					}
			 					</td>
			 				</tr>
			 			</table>
					</div>
				}
			</div>
		</div>
        </div>
	</div>	
}



<script type="text/javascript">
	$(function() {
		$('#frmAsignaOficio').attr("data-toggle","validator");
		$('#oficio_folio').attr("data-error","Solo números, máximo 6");
		$('#oficiovaloracion_fechaoficio').datetimepicker({
			 locale: 'es',
			 format: 'L'
		});
		$('#oficiovaloracion_fechaoficio').prop("required", true);

		@if(rForm.get().oficiovaloracion.id != null){
			$("input[type='file']").parent().parent().hide();
		}
		@if(rForm.get.oficiovaloracion.fechaoficio!=null){
		    $('#oficiovaloracion_fechaoficio').val("@rForm.get.oficiovaloracion.fechaoficio.format("dd/MM/yyyy")");
		}
	});

	function pre(){
		//var fo = moment($('#oficiovaloracion_fechaoficio').val(),"DD/MM/YYYY");
		var fo = moment( new Date($('#oficiovaloracion_fechaoficio').val())).format("DD-MM-YYYY");

		var fx = moment( new Date($('#oficiovaloracion_fechaoficio').val())).isValid();


		var fmom=moment( new Date($('#oficiovaloracion_fechaoficio').val()));
		if (fo==null || !fx){
			alert("No se ha especificado la fecha o esta en un formato erróneo");
			return false;
		} else {
			if ( fmom.isAfter( moment().add('day',1)  )  ){
				alert("No se puede registrar la fecha del oficio de valoración con fecha superior a la de hoy.");
				return false;
			} else {
				$('#oficio_fechaoficio').parents().parents().removeClass("error");
				$("#oficiovaloracion_fechaoficio").val(fo);
				$("#frmAsignaOficio").submit();
			}
		}


	}


	$('#frmAsignaOficio').validator().on('submit', function (e) {
		  if (e.isDefaultPrevented()) {
		    // handle the invalid form...
		  } else {
				$('#oficiovaloracion_fechaoficio').removeAttr("pattern");
				$('#oficiovaloracion_fechaoficio').val(    moment($('#oficiovaloracion_fechaoficio').val(),"DD/MM/YYYY").format("YYYY-MM-DD")  );				
		  }
		})	
	
	
	function elimina(){
		$("input[type='file']").parent().parent().show();
		$("#rowElimina").hide();
	}


    $("#btnModal").click(function(e){
        e.preventDefault();
        // Valida que esten todos los campos
        console.log ($("#oficiovaloracion_numero").val().length)
        if (    $("#oficiovaloracion_numero").val().length==0
            ||  $("#oficiovaloracion_fechaoficio").val().length==0
            ||  $("#oficiovaloracion_foliorecepcion").val().length==0
            ||  $("#oficiovaloracion_iniciales").val().length==0
            ) {
                swal({
                      title: 'Aviso',
                      text: 'Todos los campos son obligatorios.',
                      confirmButtonText: 'Aceptar',
                      type: 'warning'
                  })
                return false;
            } else

        cargarPDF();
    });


    // Para generarlo y verlo en pantalla
    async function cargarPDF() {
    try {
        var url = "/generaOficioValoracionAJAX";
        var id= @id;
        var folio = $("#oficiovaloracion_numero").val();
        var fecha = $("#oficiovaloracion_fechaoficio").val();
        var folRecepcion = $("#oficiovaloracion_foliorecepcion").val();
        var iniciales = $("#oficiovaloracion_iniciales").val();
        fecha=fecha.replace(/\//g,"-");
        // Objeto JSON que deseas enviar al servidor
        const parametros = {
            idRecurso: id,
            folio: folio,
            fecha: fecha,
            recepcion: folRecepcion,
            iniciales: iniciales
        };

        const response = await fetch(url, {
            method: "POST", // Cambiar a POST para enviar datos
            headers: {
                'Content-Type': 'application/json' // Indicar que el cuerpo es JSON
            },
            body: JSON.stringify(parametros) // Convertir el objeto JSON a una cadena
        });

        if (!response.ok) {
            throw new Error("Error en la solicitud: " + response.statusText);
        }

        const data = await response.blob(); // Convertir la respuesta a un Blob
        console.log("Tamaño del Blob:", data.size); // Verifica el tamaño del Blob

        if (data.size === 0) {
            console.error("El Blob está vacío.");
            return;
        }

        // Crear una URL para el Blob
        const urlBlob = URL.createObjectURL(data);

        // Crear un iframe para mostrar el PDF
        const iframe = '<iframe src="' + urlBlob + '" width="100%" height="100%"></iframe>';

        // Insertar el iframe en el div
        $('#visorPDF').html(iframe);

        // Mostrar el modal (si es necesario)
        $('#myModalOV').modal('show');
    } catch (error) {
        console.log("Error: " + error);
    }



    $("#btnGenerarGuardarModal").click(function(){
        console.log("click")
        var url = "/generaOficioValoracionAJAX";
        var id= @id;
        var folio = $("#oficiovaloracion_numero").val();
        var fecha = $("#oficiovaloracion_fechaoficio").val();
        var folRecepcion = $("#oficiovaloracion_foliorecepcion").val();
        var iniciales = $("#oficiovaloracion_iniciales").val();
        fecha=fecha.replace(/\//g,"-");
        // Objeto JSON que deseas enviar al servidor
        const parametros = {
            idRecurso: id,
            folio: folio,
            fecha: fecha,
            recepcion: folRecepcion,
            iniciales: iniciales
        };
        var $x = LlamadaAjax("/saveOficioValoracionAJAX", "POST", JSON.stringify({parametros}));
        $.when($x).done(function(data){
            console.dir(data)
            if (data.estado=="grabado"){
                $.notify({
                    title: "Correcto:",
                    message: data.mensaje+"<br><br>...regresando a evaluaciones concluidas."
                }, {type: 'success'});
                $('#myModalOV').modal('hide');
                setTimeout(() => {
                    location.href = '/mostrarEvaluacionesConcluidas/0/lg';
                }, "2000");
            }
            if (data.estado=="error"){
                $.notify({
                    title: "Error:",
                    message: data.mensaje+"<br><br>...regresando a evaluaciones concluidas"
                }, {type: 'danger'});
            }
        });

    });



    $("#btnActualizarModal").click(function(){
        console.log("click actualizar")
        var url = "/generaOficioValoracionAJAX";
        var id= @id;
        var folio = $("#oficiovaloracion_numero").val();
        var fecha = $("#oficiovaloracion_fechaoficio").val();
        var folRecepcion = $("#oficiovaloracion_foliorecepcion").val();
        var iniciales = $("#oficiovaloracion_iniciales").val();
        fecha=fecha.replace(/\//g,"-");
        // Objeto JSON que deseas enviar al servidor
        const parametros = {
            idRecurso: id,
            folio: folio,
            fecha: fecha,
            recepcion: folRecepcion,
            iniciales: iniciales
        };
        var $x = LlamadaAjax("/editOficioValoracionAJAX", "POST", JSON.stringify({parametros}));
        $.when($x).done(function(data){
            console.dir(data)
            if (data.estado=="actualizado"){
                $.notify({
                    title: "Correcto:",
                    message: data.mensaje+"<br><br>...regresando a evaluaciones concluidas."
                }, {type: 'success'});
                $('#myModalOV').modal('hide');
                setTimeout(() => {
                    location.href = '/mostrarEvaluacionesConcluidas/0/lg';
                }, "2000");
            }
            if (data.estado=="error"){
                $.notify({
                    title: "Error:",
                    message: data.mensaje+"<br><br>...regresando a evaluaciones concluidas"
                }, {type: 'danger'});
            }
        });

    });

}


	
</script>	
<script src="@routes.Assets.at("javascripts/validator.min.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("lib/Eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("lib/Eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")">
<script src="@routes.Assets.at("lib/moment/locale/es.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("sweetalert2/sweetalert2.all.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("javascripts/async.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("lib/bootstrap-notify/bootstrap-notify.min.js")" type="text/javascript"></script>
