@(unidadacademicaForm: Form[Unidadacademica])
@import helper._

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/recurso.css")"/> 

@implicitFieldConstructor = @{ FieldConstructor(myFieldConstructor.render) } 

@main {
	<div class="container-fluid"  >
			<div class="row">
				<div class="col-lg-12">
					<ol class="breadcrumb">
					  <li>Catálogos</li>
					  <li><a href="/unidadacademica">Unidades académicas</a></li>
					  <li class="active">Agregar</li>
					</ol>			
				</div>
			</div>
            <div class="elContenido">
                <div class="row">
                    <div class="col-lg-12">
                      <h3>Agregar unidad académica</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="elContenido">
                            @form(CSRF(routes.UnidadacademicaController.save()), 'class->"form-inline5", 'id->"frmCreate") {
                                @uaForm(unidadacademicaForm)
                                <div class="actions" style="text-align:center">
                                    <input type="submit" value="Agregar" class="btn btn-primary">
                                    <a href="@routes.UnidadacademicaController.list()" class="btn btn-default">Cancelar</a>
                                </div>
                            }
                        </div>
                     </div>
             </div>
            </div>
    </div>
    
    
}

