@(niveleducativoForm: Form[Niveleducativo])
@import helper._
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/recurso.css")"/> 
@implicitFieldConstructor = @{ FieldConstructor(myFieldConstructor.render) } 

@main {
	<div class="container-fluid"  >
			<div class="row">
				<div class="col-lg-12">
					<ol class="breadcrumb">
					  <li>Catálogos</li>
					  <li><a href="/nivelList">Nivel Educativo</a></li>
					  <li class="active">Agregar</li>
					</ol>			
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">    
					<h3>Agregar Nivel Educativo</h3>    				
				    @form(routes.NiveleducativoController.save(), 'class->"form-inline", 'id->"frmCreate") {
				     	@CSRF.formField				        
				        <div class="form-group">				        
				            @inputText(niveleducativoForm("descripcion"), 'labelAlterna -> "Descripción", '_help -> "", 'size->"40em", 'required->"required")
				        </div>
				        <input type="submit" value="Agregar nivel" class="btn btn-primary">  
				    }
				    <a href="@routes.NiveleducativoController.listDT()" class="btn btn-default">Cancelar</a>
				</div>
			</div>
    </div>    
}
@comunCatalogosJS("Create","Nivel Educativo")
