section#main {
    position: relative;
    padding: 0em 1em;
    border-bottom: 1px solid #ccc;
}

#actions {
    position: relative;
}

#actions #add {
    position: absolute;
    right: 0;
    top: 0;
}

body, html {
	/*background-image: url(../images/fondoTeclas.jpg);*/
	background-color: white;
	background-attachment:scroll;
    background-size:cover;
    height: 100%;
}



.tablaIndex{
	border=1;
	border-collapse: collapse;
    margin-left:auto; 
    margin-right:auto;	
    width: 100%;
    height: 100%;
   
}

.tablaIndex .encabezado td{
	background-image: url(../images/indexEncabezado.png);
	background-position:center;
	text-align: center;
	height: 176px;
}	

.tablaIndex .menu{
	height: 50px;
}    			

.tablaIndex .contenido {
	vertical-align: top;
}	


.contenido {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


pie {
	margin-left: auto;
	margin-right: auto;
}

form .clearfix{margin-bottom:18px;zoom:1;}form .clearfix:before,form .clearfix:after{display:table;content:"";zoom:1;*display:inline;}
form .clearfix:after{clear:both;}

form div.clearfix.error{background:#fae5e3;padding:10px 0;margin:-10px 0 10px;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}form div.clearfix.error>label,form div.clearfix.error span.help-inline,form div.clearfix.error span.help-block{color:#9d261d;}
form div.clearfix.error input,form div.clearfix.error textarea{border-color:#c87872;-webkit-box-shadow:0 0 3px rgba(171, 41, 32, 0.25);-moz-box-shadow:0 0 3px rgba(171, 41, 32, 0.25);box-shadow:0 0 3px rgba(171, 41, 32, 0.25);}form div.clearfix.error input:focus,form div.clearfix.error textarea:focus{border-color:#b9554d;-webkit-box-shadow:0 0 6px rgba(171, 41, 32, 0.5);-moz-box-shadow:0 0 6px rgba(171, 41, 32, 0.5);box-shadow:0 0 6px rgba(171, 41, 32, 0.5);}
form div.clearfix.error .input-prepend span.add-on,form div.clearfix.error .input-append span.add-on{background:#f4c8c5;border-color:#c87872;color:#b9554d;}

.form-stacked .clearfix{margin-bottom:9px;}.form-stacked .clearfix div.input{margin-left:0;}
.form-stacked .inputs-list{margin-bottom:0;}.form-stacked .inputs-list li{padding-top:0;}.form-stacked .inputs-list li label{font-weight:normal;padding-top:0;}
.form-stacked div.clearfix.error{padding-top:10px;padding-bottom:10px;padding-left:10px;margin-top:0;margin-left:-10px;}
.form-stacked .actions{margin-left:-20px;padding-left:20px;}



.tablaEncabezado {
	width: 100%;    

	border:1px;
}

.tablaEncabezado td{
	vertical-align: middle;	
}

.tablaEncabezado .boton {
	text-align: right;
}




.pagination{  float:right; height:36px;margin:18px 0;}.pagination ul{float:left;margin:0;border:1px solid #ddd;border:1px solid rgba(0, 0, 0, 0.15);-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination li{display:inline;}
.pagination a{float:left;padding:0 14px;line-height:34px;border-right:1px solid;border-right-color:#ddd;border-right-color:rgba(0, 0, 0, 0.15);*border-right-color:#ddd;text-decoration:none;}
.pagination a:hover,.pagination .active a{background-color:#c7eefe;}
.pagination .disabled a,.pagination .disabled a:hover{background-color:transparent;color:#bfbfbf;}
.pagination .next a{border:0;}



.numControlNumero{
	font-size:x-large;
	
}

.modalTitleError {
	font-size: xx-large;
	color: red;
}

.modalPie {
	font-size: x-small;
	text-align: left;
}


.table-striped tr:nth-child(even) {background: #efefef}
.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #d0d0d0;
}

.table thead {background-color: silver;}

.panel-heading span {
	padding-right: 15px;
}

.elContenido {
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}

/*Agrega margen despues del label de los checkboxes o radios*/
input[type="checkbox"] + label, input[type="radio"] + label {
  margin-right: 15px;
}


/**
 * CSSReset.com Demo - How To Keep Footer At Bottom of Page with CSS
 * 
 * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
 */
html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	min-height:100%;
	position:relative;
}
#header {
}
#content {
	padding-bottom:100px;   /* Height of the footer element */
}
#footer {
	width:100%;
	/*height:100px;*/
	position:absolute;
	bottom:0;
	left:0;
}


.breadcrumb > li + li:before {
	content: "\276D\00a0";
}

.modal.modal-wide .modal-dialog {
  width: 90%;
}
.modal-wide .modal-body {
  overflow-y: auto;
}

.vcenter {
    vertical-align: middle;
    float: none;
}




/* ANIMATIONS
============================================================================= */


.anima1 { animation-delay:0.1s; -moz-animation-delay:0.1s; -webkit-animation-delay:0.1s; }
.anima2 { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
.anima3 { animation-delay:0.3s; -moz-animation-delay:0.3s; -webkit-animation-delay:0.3s; }


.badge-notify{
   background:red;
   position:relative;
   top: -10px;
   left: 0px;
}