@(id: Long, forma : Form[Oficio])
@implicitFieldConstructor = @{ FieldConstructor(myFieldConstructor.render) } 

 <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/recurso.css")"/>
  <script src="/assets/javascripts/fullcalendar/moment.min.js" ></script>
@import helper._



@main{
	<div class="container-fluid">
 
		<div class="row">
			<div class="col-lg-12">
				<ol class="breadcrumb">
				  <li>Recursos</li>
				  <li><a href="/oficios">Solicitudes con oficio</a></li>
				  <li class="active">Editar</li>
				</ol>			
			</div>
		</div>	
		<div class="row">
			<div class="col-lg-12">		
				<h3>Edición de oficio</h3>
			</div>
		</div>
		<section id="oficioForm">
		 	@form(CSRF(routes.OficioController.update(forma.field("recurso.id").value().toLong)), 'role -> "form", 'id -> "frmOficioEdit", 'enctype -> "multipart/form-data", 'role->"form") {
	 			<div class="form-group">		
					<div class="row">
						<div class="col-lg-12">
			
						 			<table class="table table-bordered tablaReporte">
						 				<tr>
						 					<td colspan="1">@inputText(forma("numero"), '_label -> "Número de oficio", '_help -> "", 'size->"10", 'required->"required", 'class->"form-control" )</td>
											<td colspan="1">@inputText(forma("folio"), '_label -> "Número de folio", '_help -> "", 'size->"10", 'required->"required", 'class->"form-control",'pattern->"[0-9]{1,6}" )</td> 					
						 				</tr>
						 				<tr>
						 					<td>@inputText(forma("fechaoficio"), '_label -> "Fecha del oficio", '_help -> "", 'required->"required", 'placeholder->"dd/mm/aaaa", 'class->"form-control")</td>
						 					<td>@inputText(forma("fecharecepcion"), '_label -> "Fecha de recepcion en el DII", '_help -> "", 'required->"required", 'placeholder->"dd/mm/aaaa", 'class->"form-control")</td>
						 				</tr>
						 				<tr>
						 					<td colspan="2">
												<label for="contenido" class="control-label">Oficio digitalizado</label> 					
						
												
												
												
												
										<div class="form-group" id="divContenido" style="display:none">
											<div class="clearfix">
												<div ></div>
												<input accept=".pdf" id="contenido" name="contenido" required="required" class="form-control" multiple="false" type="file" data-error="Elije un archivo de la lista">
											</div>
											<div class="help-block with-errors"></div>
										</div>						
												
												
												
												
												
												<div id="divNombreArchivo">						
													<table class="table">
														<tr>
												
															<td><a href="@routes.OficioController.verOficio(forma.get().recurso.id)" target="_blank">@forma.field("nombrearchivo").value()</a></td><td><input type="button" class="btn btn-danger" value="Eliminar archivo y subir otro" onclick="javascript:borrarYsubir()"></td>
														</tr>
													</table>
												</div>
																
						 					</td>
						 				</tr>
						 			</table> 		
			
					 	</div>
				 	</div>
				 	<div class="row">
				 		<div class="col-lg-12">
				 			<div style="width: 70%" class="center-block">
				 				<input type="submit" value="Actualizar la información del oficio" class="btn primary btn-primary btn-block btn-lg center-block">
				 			</div>				 			
				 		</div>
				 	</div>
 				</div>
			}
		</section>

}



<script type="text/javascript">

	$(function() {
		$('#frmOficioEdit').attr("data-toggle","validator");
		
		$('#fechaoficio, #fecharecepcion').attr("data-provide","datepicker");
		$('#fechaoficio, #fecharecepcion').attr("data-date-format","dd/mm/yyyy");
		
		
		$('#fechaoficio, #fecharecepcion').datepicker({
		    language: "es",
		    format: "dd/mm/yyyy",
			autoclose: true,
			todayBtn: true,
			todayHighlight: true	
		});	
		var fo ="@forma.field("fechaoficio").value()"; 
		var fr ="@forma.field("fecharecepcion").value()";
		
		$('#fechaoficio').datepicker('update', moment(fo,"YYYY-MM-DD").format("DD/MM/YYYY")  );
		$('#fecharecepcion').datepicker('update', moment(fr,"YYYY-MM-DD").format("DD/MM/YYYY")   );
	});
	
	function borrarYsubir(){
		if(confirm("¿Eliminar este archivo y seleccionar otro?")){
			$("#divNombreArchivo").hide();
			$("#contenido").prop("required","required");
			$("#divContenido").show();
			$("#contenido").trigger("click");
		}
	}	


	
	
	$("#frmOficioEdit").submit(function(){

	});	
	
	$('#frmOficioEdit').validator().on('submit', function (e) {
		var fo = moment($('#fechaoficio').val(),"DD/MM/YYYY");
		var fr = moment($('#fecharecepcion').val(),"DD/MM/YYYY");
		var aux = true; 
		if (   (fo== null || !fo.isValid())      ){
			aux = false;
			$('#fechaoficio').parents().parents().addClass("error");
		}
		if (   (fr== null || !fr.isValid())      ){
			aux = false;
			$('#fecharecepcion').parents().parents().addClass("error");
		}		
		
		if (aux){
			if ( fo.isAfter(fr) ){
				  $('#fechaoficio').parents().parents().addClass("error");
				  $('#fecharecepcion').parents().parents().addClass("error");
				  alert("La fecha de oficio no puede ser posterior a la fecha de recepción en el DII");			  
				  e.preventDefault();
		    }		
			
			if ( fr.isAfter(new Date())  ){
				alert("No se puede registrar la recepción de una fecha superior a la de hoy.");
				
			}
		} else {
			e.preventDefault();
		}		
		
		
		  if (e.isDefaultPrevented()) {
		  } else {
				$('#fechaoficio, #fecharecepcion').removeAttr("pattern");

				$('#fechaoficio').val(    moment($('#fechaoficio').val(),"DD/MM/YYYY").format("YYYY-MM-DD")  );			
				$('#fecharecepcion').val( moment($('#fecharecepcion').val(),"DD/MM/YYYY").format("YYYY-MM-DD")  );
		  }
		});		
			
	
</script>	
<script src="@routes.Assets.at("javascripts/validator.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("jqueryDateTimePicker/js/bootstrap-datepicker.min.js")"></script>
<script src="@routes.Assets.at("jqueryDateTimePicker/locales/bootstrap-datepicker.es.min.js")" type="text/javascript"></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("jqueryDateTimePicker/css/bootstrap-datepicker.standalone.min.css")"/>
