@(reactivos:List[EncuestaReactivo], unidadacademica:List[Unidadacademica], nivel:List[Niveleducativo], forma:Form[EncuestaRespuesta], respuestas:EncuestaRespuesta, observaciones:List[EncuestaObservacion])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(personalFieldConstructor.render) } 

<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/recurso.css")"/> 
 
@main{
	<div class=container-fluid style="background-color: white; padding: 10px; display: none;">
		<div class="row">
			<div class="col-md-12">
				<h3>Encuesta de satisfacción del servicio de Evaluación TP-RDD</h3>
				<p>
					Estimado docente, queremos conocer su opinión acerca del servicio de Evaluación Técnico Pedagógica, por tanto solicitamos su valioso apoyo para llenar esta encuesta. A través de este medio obtendremos información que nos permitirá mejorar el servicio que ofrecemos
					<br>
				    Los datos que nos proporcione son anónimos y confidenciales.
					<br><br>
					<p style="font-weight: bold;">Instrucciones generales:</p><br>
					Lea cuidadosamente cada uno de los enunciados y responda lo que se le pide y/o marque la respuesta que mejor describa su opinión.
					<p>Las preguntas marcadas con asterisco (*) son obligatorias.</p> 				
				</p> 
				@form(CSRF(routes.EncuestaWebController.update()), 'role -> "form", 'style->"background-color: white;", 'id->"frmCreate") {
					@encuestaForm(reactivos, unidadacademica, nivel, forma, respuestas)
					<div style="display: block;  margin-left: auto;   margin-right: auto; width: 90%">
						<input type="submit" class="btn btn-success btn-lg btn-block" id="btnForma"  value="Enviar correciones">
					</div>				
				}
			</div>
		</div>
	
	

	</div>


}



<script type="text/javascript">
	$(function() {
		$("#frmCreate").validator();
		$("[name*='btnObservacion_']").hide();
		$(".container-fluid").show();
		$("input[type='text']:required, textarea:required, input[type='date']:required").attr("data-error", "Complete este campo");
		$("select:required").attr("data-error", "Seleccione una opción de la lista");
		$("input[type='radio']:required").attr("data-error", "Seleccione una opción");
		
		$("label[for='respuesta1'], label[for='respuesta2'], label[for='respuesta3'],  label[for='respuesta4']").html("");
		leer();
		
	});
	
	$("#respuesta1_6").on( "click", function() {
		if ($(this).prop("checked")){
			$("#respuesta1Txt").parent().parent().parent().show();
		}	else {
			$("#respuesta1Txt").parent().parent().parent().hide();
			$("#respuesta1Txt").parent().parent().removeClass("has-error");
		}
	});
	
	$("input[name='respuesta2']").on( "click", function() {
		if ($(this).val()=="S"){
			$("#respuesta2Txt").parent().parent().parent().show();
		}	else {
			$("#respuesta2Txt").parent().parent().parent().hide();
			$("#respuesta2Txt").parent().parent().removeClass("has-error");
		}
	});
	
	$("input[name='respuesta3']").on( "click", function() {
		if ($(this).val()=="N"){
			$("#respuesta3Txt").parent().parent().parent().show();
		}	else {
			$("#respuesta3Txt").parent().parent().parent().hide();
			$("#respuesta3Txt").parent().parent().removeClass("has-error");
		}
	});

	$("#frmCreate").submit(function(event){
		$("[name='respuesta1[]']").change();
		$("[name='respuesta2']").change();
		$("[name='respuesta3']").change();
		$("[name='respuesta4']").change();
		
		if ($("[name='respuesta1[]'][value=6]:checked").length!=0 && $("#respuesta1Txt").val().length == 0){
			$("#respuesta1Txt").parent().parent().addClass("has-error");
		} else {
			$("#respuesta1Txt").parent().parent().removeClass("has-error");
		}		

		if ($("input:radio[name='respuesta2']:checked").val() == 'S' && $("#respuesta2Txt").val().length == 0){
			$("#respuesta2Txt").parent().parent().addClass("has-error");
		} else {
			$("#respuesta2Txt").parent().parent().removeClass("has-error");
		}

		if ($("input:radio[name='respuesta3']:checked").val() == 'N' && $("#respuesta3Txt").val().length == 0){
			$("#respuesta3Txt").parent().parent().addClass("has-error");
		} else {
			$("#respuesta3Txt").parent().parent().removeClass("has-error");
		}

		if ($("#respuesta4Txt").val().length == 0){
			$("#respuesta4Txt").parent().parent().addClass("has-error");
		} else {
			$("#respuesta4Txt").parent().parent().removeClass("has-error");
		}		
		
		var r1 = [];
		$.each($("input:checkbox:checked"), function(){ 
			r1.push($(this).val());
		});

		if ( r1.length == 0 ){			
			$("#divMsgResp1").html('<ul class="list-unstyled"><li>Seleccione al menos una de las opciones.</li></ul>');
			alert("Corrija los campos marcados con rojo");			
			event.preventDefault();	
		}
		if ( $(".has-error").length != 0 ){
			alert("Corrija los campos marcados con rojo");
			event.preventDefault();	
		} 

	});

	$('#form').validator().on('submit', function (e) {
		  if (e.isDefaultPrevented()) {
		    // handle the invalid form...
		  } else {
		    // everything looks good!
		  }
		})


	

	$(document).on("keydown change blur", "textarea", function(event){
		var actual = 	$(this);
		var tam = actual.val().length;
		if (tam >= 600){
			console.log("tam excedido");
			if ( (event.which != 8  && event.which != 46  ))
				event.preventDefault();
			actual.css("border-color","#FF0000");			
			actual.parent().find("div[name='divErrorTextArea']").html("Este campo ha excedido los 600 caracteres").show();
			actual.parent().find("div[name='divErrorTextArea']").addClass("error");
			
		} else {
			actual.css("border-color","");			
			actual.parent().find("div[name='divErrorTextArea']").hide();	
			actual.parent().find("div[name='divErrorTextArea']").removeClass("error");
		}
	});	 


	$("[name='respuesta1[]']").change(function(){
		if ($("[name='respuesta1[]']:checked").length == 0  ){
			$("#respuesta1").parent().parent().parent().parent().find(".help-block").html("Seleccione al menos un motivo");
			$("#respuesta1").parent().parent().parent().parent().find(".help-block").show();
			$("#respuesta1").parent().parent().parent().parent().find(".help-block").addClass("error");
		}else{
			$("#respuesta1").parent().parent().parent().parent().find(".help-block").html("");
			$("#respuesta1").parent().parent().parent().parent().find(".help-block").hide();
			$("#respuesta1").parent().parent().parent().parent().find(".help-block").removeClass("error");			
		}		
	});

	$("[name='respuesta2']").change(function(){
		if ($("[name='respuesta2']:checked").val() == undefined  ){
			$("#respuesta2").parent().parent().parent().find(".help-block").html("Responda Si o No");
			$("#respuesta2").parent().parent().parent().find(".help-block").show();
			$("#respuesta2").parent().parent().parent().find(".help-block").addClass("error");
		}else{
			$("#respuesta2").parent().parent().parent().find(".help-block").html("");
			$("#respuesta2").parent().parent().parent().find(".help-block").hide();
			$("#respuesta2").parent().parent().parent().find(".help-block").removeClass("error");			
		}		
	});

	$("[name='respuesta3']").change(function(){
		if ($("[name='respuesta3']:checked").val() == undefined  ){
			$("#respuesta3").parent().parent().parent().find(".help-block").html("Responda Si o No");
			$("#respuesta3").parent().parent().parent().find(".help-block").show();
			$("#respuesta3").parent().parent().parent().find(".help-block").addClass("error");
		}else{
			$("#respuesta3").parent().parent().parent().find(".help-block").html("");
			$("#respuesta3").parent().parent().parent().find(".help-block").hide();
			$("#respuesta3").parent().parent().parent().find(".help-block").removeClass("error");			
		}		
	});

	$("[name='respuesta4']").change(function(){
		if ($("[name='respuesta4']:checked").val() == undefined  ){
			$("#respuesta4").parent().parent().parent().find(".help-block").html("Califique con valores del 1 al 5");
			$("#respuesta4").parent().parent().parent().find(".help-block").show();
			$("#respuesta4").parent().parent().parent().find(".help-block").addClass("error");
		}else{
			$("#respuesta4").parent().parent().parent().find(".help-block").html("");
			$("#respuesta4").parent().parent().parent().find(".help-block").hide();
			$("#respuesta4").parent().parent().parent().find(".help-block").removeClass("error");			
		}		
	});
	


	function leer(){		
		var l = "@respuestas.respuesta1".substring(1, @(respuestas.respuesta1.length()-1)  ).split(",");		
		for(i=0;i<l.length;i++){
			$("[name='respuesta1[]'][value="+l[i]+"]").attr("checked",true)
		}
		
		if ( $("#respuesta1_6").prop("checked")  ){
			$("[id='respuesta1Txt']").val("@respuestas.respuesta1txt");
			$("[id='respuesta1Txt']").parent().parent().parent().show();
		}
		
		
		$("[id='respuesta2_S']").prop("checked",  "@respuestas.respuesta2" == "S"  );
		$("[id='respuesta2_N']").prop("checked",  "@respuestas.respuesta2" == "N"  );
		
		if($("[id='respuesta2_S']").prop("checked")){
			$("[id='respuesta2Txt']").val("@respuestas.respuesta2txt");
			$("[id='respuesta2Txt']").parent().parent().parent().show();			
		}
		
		
		$("[id='respuesta3_S']").prop("checked",  "@respuestas.respuesta3" == "S"  );
		$("[id='respuesta3_N']").prop("checked",  "@respuestas.respuesta3" == "N"  );

		if($("[id='respuesta3_N']").prop("checked")){
			$("[id='respuesta3Txt']").val("@respuestas.respuesta3txt");
			$("[id='respuesta3Txt']").parent().parent().parent().show();			
		}		
		
		$("[id='respuesta4_1']").prop("checked",  "@respuestas.respuesta4" == "1"  );
		$("[id='respuesta4_2']").prop("checked",  "@respuestas.respuesta4" == "2"  );
		$("[id='respuesta4_3']").prop("checked",  "@respuestas.respuesta4" == "3"  );
		$("[id='respuesta4_4']").prop("checked",  "@respuestas.respuesta4" == "4"  );
		$("[id='respuesta4_5']").prop("checked",  "@respuestas.respuesta4" == "5"  );


			$("[id='respuesta4Txt']").val("@respuestas.respuesta4txt");
						
			$("[id='respuesta5Txt']").val("@respuestas.respuesta5txt");
			
			
		/// Deshabilita los controles de las preguntas
		for(a=1;a<=5;a++){
			$("[name='respuesta"+a+"'], [name='respuesta"+a+"txt']").prop("disabled", true);			
		}	
		$("[name='respuesta1[]']").prop("disabled", true);	
		/// LEER OBSERVACIONES
		@for(observa<-observaciones){
alert("@observa.respuesta"+"   "+"@observa.descripcion");			
			$("[name='observacion_@observa.respuesta']").val("El administrador hizo la siguiente observación: @observa.descripcion");
			$("[name='observacion_@observa.respuesta']").css({"background-color":"#FFFDDD",
					"-webkit-box-sizing": "border-box",
					"-moz-box-sizing": "border-box", 
					"box-sizing": "border-box",	
					"width": "100%"			
			});
			$("[name='observacion_@observa.respuesta']").show();
			$("[name='observacion_@observa.respuesta']").parent().parent().parent().parent().show();
			
			$("[name='@observa.respuesta']").prop("disabled", false);
			
			
			
		}
		
		
		
	}

	
</script>
<script src="@routes.Assets.at("javascripts/validator.min.js")" type="text/javascript"></script>