@(reactivos:List[EncuestaReactivo], unidadacademica:List[Unidadacademica], nivel:List[Niveleducativo], forma:Form[EncuestaRespuesta], respuestas:EncuestaRespuesta)
@import helper._

<div class="container-fluid">
		<div class="row">
			
				@for(rea<-reactivos){
					@if(rea.numreactivo != 5){
						<div class="col-md-6">
					}else{
					    <div class="col-md-12">
					}		
						<div class="panel panel-default">
							<div class="panel-heading">
							    <h3 class="panel-title">@if(rea.numreactivo != 5){ * }  @rea.reactivo</h3>
							 </div>
							 <div class="panel-body">
							 	<div class="row">
							 	<div class="col-md-12">
							 	@if(rea.numreactivo == 1){
						     			@inputCheckboxGroup(
						         			forma("respuesta1"),
						         			options = options(
						         				"1"->"Obtener un estímulo académico",
						         				"2"->"Favorecer el proceso de aprendizaje",
						         				"3"->"Reforzar contenidos",
						         				"4"->"Hacer uso de las TIC en el aula",
						         				"5"->"Diseñar recursos atractivos",
						         				"6"->"Otro"
						         			)							         
						      			)
						      			<div class="help-block with-errors" style="color:red"></div>
									<div style="display: none">
										<div class="form-group">										    
										    <div class="form-group">
												<div>
								    				<textarea placeholder="Escriba su observacion..." name="observacion_respuesta1" class="observacion" maxlength="600" style="min-width: 100%; display: none;"></textarea>
								   					<button type="button" name="btnObservacion_respuesta1" class="btn btn-xs form-control btn-primary">Agregar observación</button>
													<div name="errorObservacion" style="color:red"></div>		    	
											    </div>					      						
											</div>					      						
				      					</div>
			      					</div>					      			
					      			
					      			
					      			

									<div style="display: none">
										<div class="form-group">	
											<label for="respuesta1txt" class="control-label">Describa</label>									    
										    <div class="form-group">	
					      						<textarea id="respuesta1Txt" name="respuesta1txt" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;	width: 100%; " class="form-control" maxlength="600"></textarea>
					      						<div name='divErrorTextArea' style="color:red"></div>
												<div>
								    				<textarea placeholder="Escriba su observacion..." name="observacion_respuesta1txt" class="observacion" maxlength="600" style="min-width: 100%; display: none;"></textarea>
								   					<button type="button" name="btnObservacion_respuesta1txt" class="btn btn-xs form-control btn-danger">Quitar observación</button>
													<div name="errorObservacion" style="color:red"></div>		    	
											    </div>					      						
											</div>					      						
				      					</div>
			      					</div>		
			      					</span>				 	 	
							 	}							
							 	 
							 	@if(rea.numreactivo == 2){ 						 				
					     			@inputRadioGroup(
					         			forma("respuesta2"),
					         			options = options("S"->"Si","N"->"No"), 'required->"required"							         
					      			)
					      			<div class="help-block with-errors" style="color:red"></div>
									<div style="display: none">
										<div class="form-group">										    
										    <div class="form-group">
												<div>
								    				<textarea placeholder="Escriba su observacion..." name="observacion_respuesta2" class="observacion" maxlength="600" style="min-width: 100%; display: none;"></textarea>
								   					<button type="button" name="btnObservacion_respuesta2" class="btn btn-xs form-control btn-primary">Agregar observación</button>
													<div name="errorObservacion" style="color:red"></div>		    	
											    </div>					      						
											</div>					      						
				      					</div>
			      					</div>						      			
					      			
									<div style="display: none">
										<div class="form-group">
										    <label for="respuesta2txt" class="control-label">¿Por que medios?</label>	
										    <div class="form-group">
												<textarea id="respuesta2Txt" name="respuesta2txt" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;	min-width: 100%;" class="form-control" maxlength="600"></textarea>
												<div name='divErrorTextArea' style="color:red"></div>
												<div>
								    				<textarea placeholder="Escriba su observacion..." name="observacion_respuesta2txt" class="observacion" maxlength="600" style="min-width: 100%; display: none;"></textarea>
								   					<button type="button" name="btnObservacion_respuesta2txt" class="btn btn-xs form-control btn-danger">Quitar observación</button>
													<div name="errorObservacion" style="color:red"></div>		    	
											    </div>													
											</div>
										</div>									
									</div>
								}

							 	@if(rea.numreactivo == 3){
					     			@inputRadioGroup(
					         			forma("respuesta3"),
					         			options = options("S"->"Si","N"->"No"), 'required->"required",
					         			'_error -> forma("respuesta3").error.map(_.withMessage("select one or more hobbies"))						         
					      			)
					      			<div class="help-block with-errors" style="color:red"></div>
									<div style="display: none">
										<div class="form-group">										    
										    <div class="form-group">
												<div>
								    				<textarea placeholder="Escriba su observacion..." name="observacion_respuesta3" class="observacion" maxlength="600" style="min-width: 100%; display: none;"></textarea>
								   					<button type="button" name="btnObservacion_respuesta3" class="btn btn-xs form-control btn-primary">Agregar observación</button>
													<div name="errorObservacion" style="color:red"></div>		    	
											    </div>					      						
											</div>					      						
				      					</div>
			      					</div>						      			
					      			
									<div style="display: none;">
										<div class="form-group">
											<label for="respuesta3txt" class="control-label">Compártanos sus razones.</label>
											<div class="form-group">											
												<textarea id="respuesta3Txt" name="respuesta3txt" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;	width: 100%;" class="form-control" maxlength="600"></textarea>
												<div name='divErrorTextArea' style="color:red"></div>
												<div>
								    				<textarea placeholder="Escriba su observacion..." name="observacion_respuesta3txt" class="observacion" maxlength="600" style="min-width: 100%; display: none;"></textarea>
								   					<button type="button" name="btnObservacion_respuesta3txt" class="btn btn-xs form-control btn-danger">Quitar observación</button>
													<div name="errorObservacion" style="color:red"></div>														    	
											    </div>												
											</div>
										</div>
									</div>								 	
							 	} 		
							 	
							 	@if(rea.numreactivo == 4){				 				
					     			@inputRadioGroup(
					         			forma("respuesta4"),
					         			options = options("1"->"1","2"->"2","3"->"3","4"->"4","5"->"5"), 'required->"required"							         
					      			)
					      			<div class="help-block with-errors" style="color:red"></div>
					      			
									<div style="display: none">
										<div class="form-group">										    
										    <div class="form-group">
												<div>
								    				<textarea placeholder="Escriba su observacion..." name="observacion_respuesta4" class="observacion" maxlength="600" style="min-width: 100%; display: none;"></textarea>
								   					<button type="button" name="btnObservacion_respuesta4" class="btn btn-xs form-control btn-primary">Agregar observación</button>
													<div name="errorObservacion" style="color:red"></div>		    	
											    </div>					      						
											</div>					      						
				      					</div>
			      					</div>						      			
					      			
									<div>
										<div class="form-group">
											<label for="respuesta4txt" class="control-label">* Comparta con nosotros sus motivos.</label>
											<div class="form-group">					      			
								      			<textarea id="respuesta4Txt" name="respuesta4txt" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;	width: 100%;" class="form-control" required="required" maxlength="600"></textarea>
								      			<div name='divErrorTextArea' style="color:red"></div>
												<div>
								    				<textarea placeholder="Escriba su observacion..." name="observacion_respuesta4txt" class="observacion" maxlength="600" style="min-width: 100%; display: none;"></textarea>
								   					<button type="button" name="btnObservacion_respuesta4txt" class="btn btn-xs form-control btn-danger">Quitar observación</button>
													<div name="errorObservacion" style="color:red"></div>
												</div>									      			
											</div>
										</div>
									</div>								      			
								}
								
							 	@if(rea.numreactivo == 5){
									<div>
										<div class="form-group">											
											<div class="form-group">								
												<textarea id="respuesta5Txt" name="respuesta5txt" style="-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;	width: 100%;" class="form-control" maxlength="600" ></textarea>
												<div name='divErrorTextArea' style="color:red"></div>
  												<div>
								    				<textarea placeholder="Escriba su observacion..." name="observacion_respuesta5txt" class="observacion" maxlength="600" style="min-width: 100%; display: none;"></textarea>
								   					<button type="button" name="btnObservacion_respuesta5txt" class="btn btn-xs form-control btn-danger">Quitar observación</button>
													<div name="errorObservacion" style="color:red"></div>													
												</div>
											</div>
										</div>
									</div>													
								}
								</div>
								</div>
							</div>
						</div>
					</div>
					@if( (rea.numreactivo%2 == 0)  &&  (rea.numreactivo != 5)  ){
						</div>
						<div class="row">
								
					}
				}
					
		</div>
		</div>
					
					