@(r:List[Recurso])

@main{
	<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<ol class="breadcrumb">
					  <li>Recursos</li>
					  <li class="active">Cancelados en clasificacion</li>
					</ol>			
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
	  	          <h3>Cancelados en clasificación</h3>
		        </div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					@if(!r.isEmpty()){
						<table class="table table-bordered table-condensed">
							<thead>
								<tr>
									<th>CLAVE DE CONTROL</th>
									<th>TÍTULO</th>
									<th>OBSERVACIÓN</th>
									<th>FECHA CANCELACIÓN</th>
								</tr>
							</thead>
							@for(r<-r){
							<tr>
								<td style="vertical-align: middle;"><a href="/reporte/cesoe/@r.id">@r.numcontrol</a></td>
								<td style="vertical-align: middle;">@r.titulo</td>
								<td style="vertical-align: middle;">
									@if(r.observacioncancelacion != null){
										@r.observacioncancelacion.observacion
									}
								</td>
								<td style="vertical-align: middle;">
										@for(z <- r.historialestados if z.estado.id == 401){
											@z.auditinsert.format("dd/MM/YYYY hh:mm:ss")
										}
								
								</td>

							</tr>
							}
						</table>				
					} else {
						No hay registros.	
					}
				
				</div>
			</div>		
	</div>
}