@(id: Long, daForm: Form[Dirigidoa])

@import helper._
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/recurso.css")"/> 

@implicitFieldConstructor = @{ FieldConstructor(myFieldConstructor.render) } 

@main {
	<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<ol class="breadcrumb">
					  <li>Catálogos</li>
					  <li><a href="/dirigidoa">Dirigido a</a></li>
					  <li class="active">Editar</li>
					</ol>			
				</div>
			</div>
            <div class="elContenido">
    			<div class="row">
				<div class="col-lg-12">    
				    <h3>Editar Dirigido a</h3>
					<div style="vertical-align: middle;"> 
						@form(CSRF(routes.DirigidoaController.update(id)), 'class->"form-inline", 'id->"frmEdit"  ) {
						  <div class="form-group">
					    		@inputText(daForm("descripcion"), 'labelAlterna->"Descripcion", '_help -> "", 'size->"90px", 'required->"required")
						  </div>
						  <button type="submit" class="btn btn-primary">Actualizar</button>
						}
					</div>

				 @form(CSRF(routes.DirigidoaController.delete(id)), 'class -> "topRight", 'id->"frmDelete") {
						<input type="submit" value="Eliminar" class="btn btn-danger">
						<a href="@routes.DirigidoaController.list()" class="btn btn-default">Cancelar</a>
 					}


    			</div>
			</div>
            </div>
    </div>
}
@comunCatalogosJS("Edit", "Dirigido a")
