@(personalForm: Form[Personal], r:Personal)
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(personalFieldConstructor.render) } 
<section id="personalForm">

	        <fieldset>
		        <table class="table table-condensed">
		        	<tr>
		        		<td colspan=1  class="requerido">
		        			<div class="form-group">
		        				@inputText(personalForm("nombre"), '_label -> "Nombre", 'required->"required", 'class->"form-control", 'pattern->"[A-Za-záéíóúñÁÉÍÓÚÑ ]*", 'placeholder->"Nombre" )
		        			</div>
	        			</td>
		        		<td colspan=1  class="requerido">
		        			@inputText(personalForm("paterno"), '_label -> "Paterno", 'required->"required", 'class->"form-control", 'pattern->"[A-Za-záéíóúñÁÉÍÓÚÑ ]*", 'placeholder->"Paterno")
	        			</td>
		        		<td colspan=1  class="requerido">
		        			@inputText(personalForm("materno"), '_label -> "Materno", 'required->"required", 'class->"form-control", 'pattern->"[A-Za-záéíóúñÁÉÍÓÚÑ ]*", 'placeholder->"Materno")
	        			</td>
                            <td  colspan="1" rowspan="4" style="width:300px; border: 1px solid #e6e4e4; padding: 10px; text-align: center; margin: 0 auto;">
                            <div id="seccionImagenFirma" class="d-flex justify-content-center d-flex align-items-center">
                                <div class="">
                                    <div id="previewImaFirma">
                                        <div id="imaFirmaContenido"></div>
                                    </div>
                                </div>
                                <div id="archImagenFirmaActual">
                                </div>
                                <div class="">
                                    <button class="btn  btn-link" id="btnCargarImaFirma">
                                        <i class="fa fa-upload" aria-hidden="true"></i> <span id="tipoImaFirma" >Seleccionar archivo</span>
                                    </button>
                                </div>

                                <input class="form-control hidden" type="file" id="archImaFirma" name="imagenfirma" accept="image/*">
                                <div class="text-muted small" style="margin-top:20px;">
                                    Resolución recomendada: 300 x 300 pixeles
                                </div>
                            </div>
                        </td>
					</tr>
					<tr>
                        <td colspan=1  class="requerido">
                            @inputText(personalForm("correo"), '_label -> "Correo", 'required->"required", 'class->"form-control",  'placeholder->"email del evaluador", 'type->"email")
                        </td>
						<td colspan=1  class="requerido">
							@inputText(personalForm("usuario.usuario"), '_label -> "Nombre de usuario", 'required->"required", 'class->"form-control", 'pattern->"[A-Za-z0-9]*", 'placeholder->"Nombre de usuario (sin caracteres especiales)" )
						</td>
						<td colspan=1  class="requerido">
							@inputPassword(personalForm("usuario.password"), '_label -> "Clave de acceso", 'required->"required", 'class->"form-control", 'pattern->"[A-Za-z0-9]*", 'placeholder->"Clave de acceso (sin caracteres especiales)")							
						</td>
					</tr>
					<tr>
						<td colspan="2" style="border-top: 0px solid #ff0000;">
							<div id="divErrorUserPass" class="text-danger"></div>
						</td>
					</tr>
					
					<tr>
						<td colspan="1" class="requerido">
							@inputRadioGroup(
								personalForm("activo.id"),
								options = options(models.EstadoActivo.options), 'required->"required"
							)								
						</td>
                        <td  class="requerido" colspan="2">
                            @inputCheckboxGroup(
                            personalForm("aspecto"),
                            options = options(models.Aspecto.options),
                            '_label -> null
                            )
                        </td>
		        	</tr>	        	
		        </table>
	        </fieldset>        


</section>



