@(p: List[Personal])
@import helper._


<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/rotating-card.css")"/> 
<link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("font-awesome-4.4.0/css/font-awesome.min.css")"> 

@main{

<div class=container-fluid style="background-color: white; padding: 10px;">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<ol class="breadcrumb">
			  <li>Evaluadores</li>
			  <li class="active">Listar</li>
			</ol>			
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		          <h3>Listar evaluadores</h3>	  	           
	       </div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			@flashes()
		</div>
	</div>	   
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			@if(p.isEmpty){
				<h1>No hay evaluadores registrados</h1>
			} else {
				<table class="tablaEncabezado">
					<tr>
						<td class="boton">
							<form action="@routes.EvaluadorController.create()">
								<input type="submit" value="Agregar evaluador" class="btn primary btn-primary">
							</form>  
						</td>
					</tr>
				</table>
				<table class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th>Paterno</th>
							<th>Materno</th>
							<th>Nombre</th>							
							<th>Aspectos</th>
							<th>Estado</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
				
					<tbody>
						@for(p <- p) {
							<tr>
								<td>@p.paterno</td>
								<td>@p.materno</td>
								<td>@p.nombre</td>								
								<td>
								@for(a <- p.evaluador.evaluadoraspectos){
									<div>@a.aspecto.descripcion</div>
								}
								</td>
								<td>@p.activo.descripcion</td>
		 						<td><button type="button" class="btn btn-primary btn-sm" name="btnEdit@p.id.toString">Editar</button></td>
								<td>
									@form(CSRF(routes.EvaluadorController.delete(p.id)), 'class -> "topRight") {						
										<button type="button" class="btn btn-primary btn-sm" name="btnDelete@p.id.toString">Eliminar</button>
										}
								</td>								
							</tr>
						}
					</tbody>
				</table>
				
				<div class="row" style="display:none">
				
                        @for(p <- p) {
                            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                            
					             <div class="card-container manual-flip">
					                     <div class="card">
					                       
					                         <div class="front">
					                             <div class="cover">
					                                 <img src=@routes.Assets.at("images/rotating_card_thumb3.png")/>
					                             </div>
				                             
					                             <div class="user">
					                                 <img class="img-circle" src=@routes.Assets.at("images/user.png")/>
					                             </div>
					                             <div class="content">
					                                 <div class="main">
					                                     <h3 class="name">@(p.nombre+" "+p.paterno+" "+p.materno)</h3>
					                                     <p class="profession">Evaluador</p>
					            
					                                     <p class="text-center">Aspectos:</p>
					                                     
					                                     <div class="row">
					                                     
					                                     @for(ea<- models.Evaluador.find.fetch("evaluadoraspectos").where().eq("personal.id", p.id).findList()){
					                                       @for(a<-ea.evaluadoraspectos){
					                                           <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">@a.aspecto.descripcion</div>					                                           
					                                       }
					                                     }
					                                     </div>
					                                     </br>
					                                     
	                                                       <div class="social-links text-center">
	                                                           <a href="" name="btnDelete@p.id.toString" class=""><i class="fa fa-trash-o"></i></a>
	                                                           <a href="" name="btnEdit@p.id.toString" class=""><i class="fa fa-pencil"></i></a>
	                                                       </div>					                                     
					                                     
					                                 </div>
					                              </div>
				                                 <div class="footer">
					                                <button class="btn btn-simple" onclick="rotateCard(this)">
					                                    <i class="fa fa-mail-forward"></i> Recursos
					                                </button>
				                                 </div>
					                         </div> <!-- end front panel -->
					                         <div class="back">
					                             <div class="header">
					                                 <h5 class="motto">Recursos asignados</h5>
					                             </div>
					                             <div class="content">
					                                 <div class="main">					                                 
					                                   @for((r, ri)<-models.Recursoevaluador.find.where().eq("evaluador.id", p.id).findList().zipWithIndex){
					                                       <div class="row" style="background-color:#@if(ri%2 == 0){efefef}else{cfcfcf}">
					                                           <div class="col-xs-4">
					                                               @r.recurso.numcontrol
					                                           </div>
                                                               <div class="col-xs-4">
                                                                   @r.recurso.titulo
                                                               </div>					                                           
                                                               <div class="col-xs-4">
                                                                   @r.aspecto.descripcion
                                                               </div>                                                               
					                                       </div>
					                                       
					                                       
					                                   }
					            
					                                 </div>
					                             </div>
					                             <div class="footer">
						                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
						                                <i class="fa fa-reply"></i> Regresar
						                            </button>
					                             
					                                 <div class="social-links text-center">
					                                     <a href="http://creative-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
					                                     <a href="http://creative-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
					                                     <a href="http://creative-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
					                                 </div>
					                             </div>
					                         </div> <!-- end back panel -->
					                     </div> <!-- end card -->
					                 </div> <!-- end card-container -->                             
                            
                            </div>
                        }				
				
				</div>
			}
			</div>
		</div>
		
		
		



		
		
		
		
</div>	
}

<script type="text/javascript">
	$( document ).on( "click", "[name*='btnDelete']", function(e) {
		e.preventDefault();
		 var num = $(this).attr('name').substring(9); 		  
		  if (confirm("¿Desea eliminar al evaluador?")){
			$(this).parent().submit();	  
		  }
		  
	});
	
	
	$( document ).on( "click", "[name*='btnEdit']", function(e) {
		e.preventDefault();
		 var num = $(this).attr('name').substring(7); 

		 $("form").get(0).setAttribute("action",'/evaluador/'+num+'/edit');
		 $("form").get(0).setAttribute("method","GET");
		 
		 $("form").get(0).submit();
		 
		 /*
		 
		 
			  $.ajax({                            <button class="btn btn-simple" rel="tooltip" title="Flip Card" onclick="rotateCard(this)">
              <i class="fa fa-reply"></i> Back
              </button>

				  method: "GET",
				  url: "/evaluador/"+num+"/edit"
	
				})
				  .success(function( data ) {
					window.location.assign('/evaluador/'+num+'/edit');
				  })
				  
				  .error(function(data){
				  	alert("error: "+data);
				  })		  

		  */
	});	
	
    function rotateCard(btn){
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if($card.hasClass('hover')){
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }
	
	
</script>
