@(recurso: List[Recurso])
 <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/recurso.css")"/> 
@import helper._
@import models._
@implicitFieldConstructor = @{ FieldConstructor(personalFieldConstructor.render) } 

@main{
<div style="background-color: white; padding: 10px;">

	<h3>Todas mis asignaciones</h3>
	@flashes()
	<div class="table-responsive">
		<table class="table table-bordered table-strpped">
			<thead>
				<tr>
					<th>Título</th>
					<th>Clave control</th>
					<th>Tipo recurso</th>
					<th>Fecha límite para evaluar</th>
					<th>Aspecto / estado</th>
				</tr>
			</thead>
			<tbody>
				@for(r <- recurso ){
				<tr>
					<td><a
						href="@routes.EvaluacionEvaluadorController.verDetalle(r.id)">
							@r.titulo </a></td>
					<td>@r.numcontrol</td>
					<td>@if(r.clasificacion.tiporecurso !=null){@r.clasificacion.tiporecurso.descripcion}</td>
					<td>
					   @r.evaluacionFecha.fechalimite.format("dd/MM/YYYY")
					   @for(reva<-r.recursoevaluadores){
					       @for(pr<-reva.prorrogas){
					           @if(pr.autorizado==true){
					               <br>@pr.fecha.format("dd/MM/YYYY") prórroga<br>
					           }
					       }
					   }
					</td>
					<td>
						<div style="display: table; width: 100%">

@System.out.println("* * * *")
							@for(re <- r.recursoevaluadores){
							 <div style="display: table-row;">
                                <div style="display:table-cell;">@re.aspecto.descripcion</div>
                                <div style="display:table-cell;">@re.estadoevaluacion.descripcion</div>
                                <div style="display:table-cell;">
                                    <!-- // No esta en solicitudes de cancelación ni en cancelados -->
                                    @if(   r.estado.id != 400 && r.estado.id != 401  && r.estado.id != 402){
                                        <!-- Esta en tiempo y sin oficio de valoración y sin solicitudes de prórroga y (en estado evaluacion 1 o estado evaluacion 2)-->
                                        @if(!re.fueraDeTiempo && r.estado.id!=110 && re.prorrogas.isEmpty && (re.estadoevaluacion.id == 1L || re.estadoevaluacion.id == 2L)){
                                            @if(re.estadoevaluacion.id == 1L){
                                                @if(re.evaluador.personal.activo.id == 1){
                                                    Su cuenta esta deshabilitada para evaluar.
                                                }else{
                                                    <a class="btn btn-primary btn-block" href="/evCreate?id=@r.id&idAspecto=@re.aspecto.id" role="button">Iniciar evaluación</a>
                                                }
                                            }
                                            @if(re.estadoevaluacion.id == 2L){
                                                @if(re.evaluador.personal.activo.id == 1){
                                                    Su cuenta esta deshabilitada para evaluar.
                                                }else{ 
                                                    <a class="btn btn-primary btn-block"  href="/evEdit?id=@r.id&idAspecto=@re.aspecto.id" role="button">Continuar evaluación</a>
                                                }
                                            }
                                        }
                                        <!-- Si esta fuera de tiempo y sin oficio de valoración y sin solicitudes de prórroga -->
                                        @if(re.fueraDeTiempo && r.estado.id!=110 && re.prorrogas.isEmpty && r.estado.id<10  && re.estadoevaluacion.id<5){
	                                        @form(CSRF(routes.EvaluacionEvaluadorController.solicitarProrroga(re.id, re.aspecto.id, 10)), 'rol->"form") {   
	                                            <input type="submit" class="btn btn-warning" value="Solicitar prórroga">
	                                        }                                        
                                        }
                                        
@System.out.println(re.fueraDeTiempo+" .  "+r.estado.id+" . "+re.prorrogas.isEmpty)                                        
                                        <!-- Si no esta fuera de tiempo y sin oficio de valoración y con solicitudes de prórroga sin autorizar-->
                                        @if(!re.fueraDeTiempo && r.estado.id!=110 && !re.prorrogas.isEmpty){                                        
                                            @if(re.prorrogas.last.autorizado == false){
                                                Con solicitud de prórroga pendiente por aceptar
                                            }
                                        }
                                        
                                        <!-- Si no esta fuera de tiempo y sin oficio de valoración y con solicitudes de prórroga autorizarada-->
                                        @if(!re.fueraDeTiempo && r.estado.id!=110 && !re.prorrogas.isEmpty){                                        
                                            @if(re.prorrogas.last.autorizado == true){
                                                @if(re.estadoevaluacion.id==1L){
                                                    @if(re.evaluador.personal.activo.id == 1){
                                                        Su cuenta esta deshabilitada para evaluar.
                                                    }else{ 
                                                        <a class="btn btn-primary btn-block" href="/evCreate?id=@r.id&idAspecto=@re.aspecto.id" role="button">Iniciar evaluación</a>
                                                    }
                                                }
                                                @if(re.estadoevaluacion.id==2L){
                                                    @if(re.evaluador.personal.activo.id == 1){
                                                        Su cuenta esta deshabilitada para evaluar.
                                                    }else{ 
                                                        <a class="btn btn-primary btn-block"  href="/evEdit?id=@r.id&idAspecto=@re.aspecto.id" role="button">Continuar evaluación</a>
                                                    }
                                                }                                                    
                                            }
                                        }                                        
                                    }
                                </div>							 
							 </div>
							}
						</div>
					</td>
				</tr>
				}
			</tbody>
		</table>
	</div>


</div>
}



<script type="text/javascript">

</script>