@(forma: Form[models.polimedia.PolimediaCarrusel], recursosOptions : Map[String,String])
@import helper._

    <div class="form-group">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            @inputText(forma("posicion"), '_label -> "Posición", '_help -> "", 'required->"required", 'class->"form-control" )
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            @inputText(forma("inicio"), '_label -> "Desde", '_help -> "", 'required->"required", 'class->"form-control", 'type->"date" )
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
            @inputText(forma("fin"), '_label -> "Hasta", '_help -> "", 'required->"required", 'class->"form-control", 'type->"date" )
        </div>
        <div class="col-xs-1 col-sm-1 col-md-9 col-lg-9">
            @select(
                forma("recurso.id"),
                options( recursosOptions),
                '_label -> "Recurso", '_default -> "Seleccione un recurso...",
                '_showConstraints -> false, 'required->"required", 'class->"form-control"
            )
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="input">
                <label for="contenido" class="control-label">Archivo de imágen</label>
                <input type="file" accept="*.*" id="contenido" name="contenido" required="required" class="form-control" multiple=false >
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div class="input">
                @inputText(forma("liga"), '_label -> "URL", '_help -> "", 'required->"required", 'class->"form-control" )
            </div>
        </div>
    </div>
</div>
