@main {
    <style nonce="@session.get("nonce")">
        .filtrado, mark  {
            background-color:#ffffcc !important;
        }
    </style>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <li>Carrusel</li>
                    <li class="active">Listar</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1 id="homeTitle">Carrusel  <a href="@routes.CarruselController.create()" data-toggle="popover" data-content="Agregar elemento" class="text-success">  <i class="fa fa-plus-circle" aria-hidden="true"></i> </a>
                </h1>
            </div>
        </div>
        @views.html.flashes()
        <div id="no-more-tables">
            <table class="table table-bordered table-striped" id="tablaCarrusel" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th>Posición</th>
                    <th>Inicia</th>
                    <th>Termina</th>
                    <th>Título</th>
                    <th>Archivo</th>
                    <th>url</th>
                    <th>Vigente</th>
                    <th></th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
}



<script type="text/javascript">

    $(function() {
    	$('[data-toggle="popover"]').popover(
    			{trigger: "hover"}
    			);

        var tablaDT =  $('#tablaCarrusel').DataTable( {
        	"stateSave": true,
            "pageLength": 10,
            "lengthMenu": [  [3, 5, 10, 25, 50, -1], [3, 5, 10, 25, 50, "Todos"]   ],
            "language": {
                "url": "@routes.Assets.at("Spanish.json")"
            },
            "processing": false,
            "serverSide": true,
            "scrollCollapse": false,
            "scrollX": false,
            "mark": true,
            "fixedColumns": true,
            "ajax": {
                "url":  "@routes.CarruselController.carruselDTSS()",
                "contentType": "application/json; charset=utf-8",
                "dataType": "json"
            },
            "columns": [
                { "data": "posicion",
                  "render": function(data, type, row, meta){
                	  return data==null?"<small>No definido</small>":  data;
                  }
                },
                {   "data": "inicio",
                    "render": function(data, type, row, meta){
                        return data==null?"<small>No definido</small>":  moment(data).format("DD/MM/YYYY");
                    }
                },
                {   "data": "fin",
                    "render": function(data, type, row, meta){
                        return data==null?"<small>No definido</small>":  moment(data).format("DD/MM/YYYY");
                    }
                },
                {   "data": "titulo",
                    "render": function(data, type, row, meta){
                        return data==null?"<small>No definido</small>": data;
                    }
                },
                {   "data": "nombreArchivo",
                    "render": function(data, type, row, meta){
                        return data==null?"<small>No definido</small>": "<a href='/webPoliMedia/carrusel/verImagen/"+row.id+"'>"+ data+ "</a>";


                    }
                },
                {   "data": "liga",
                    "render": function(data, type, row, meta){
                        return data==null?"<small>No definido</small>": data;
                    }
                },
                {   "data": "vigente",
                    "sortable" : false,
                    "render": function(data, type, row, meta){
                        return data==null?"<small>No definido</small>":  data==true?"Si":"No";
                    }
                },
                {   "data": "null",
                    "sortable" : false,
                    "render": function(data, type, row, meta){
                        return "<div class=\"row\"><div class=\"col-xs-12 col-sm-6 col-md-6 col-lg-6\"><a href=\"/poliMedia/carrusel/edit/"+row.id+"\" ><i class='fa fa-pencil' aria-hidden='true'></i></a></div>    <div class=\"col-xs-12 col-sm-6 col-md-6 col-lg-6\"><a href=\"/poliMedia/carrusel/delete/"+row.id+"\"><i class='fa fa-trash' aria-hidden='true'></i></a></div></div>";
                    }
                }
            ]
        } );
    });
</script>



<!-- Datatables -->
<script src="@routes.Assets.at("lib/datatables/js/jquery.dataTables.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/datatables/js/dataTables.bootstrap.min.js")" type="text/javascript"></script>
<script src="@routes.Assets.at("lib/datatables-buttons/js/dataTables.buttons.min.js")" type="text/javascript"></script>

<script src="@routes.Assets.at("mark.js/datatables.mark.min.js")"></script>
<script src="@routes.Assets.at("mark.js/jquery.mark.min.js")"></script>

<script src="/assets/javascripts/fullcalendar/moment.min.js" ></script>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("lib/datatables/css/dataTables.bootstrap.min.css")"/>

