@main2("Welcome to Play") {

    <strong>Stats</strong><br>
    <div id="ping"></div>



//******************
//HACER ESTO MISMO PERO CON AJAX
<button onclick="javascript:mensaje()">Enviar</button>


<script>
$(function() {
    var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket;
console.log("@routes.RecursoWebController.pingWs().webSocketURL(request)")
    var dateSocket = new WS("@routes.RecursoWebController.pingWs().webSocketURL(request)");

    var receiveEvent = function(event) {
        $("#ping").html("Last ping: "+event.data);
    }

    dateSocket.onmessage = receiveEvent;
})


function mensaje(){

	$.ajax({					
		  type: "GET",
		  url: "@routes.RecursoWebController.pingWs()"

		})
	  .success(function( data ) {
		  console.log("Ennviado mensaje");
	  })					
	  .error(function(data){
		  alert("error en ajax " +data);
	  })		
	
	
	
		
	
}



</script>






}
