@(registros:Map[String,Int],  nodos:List[String], cols1:List[String] , evaluadores:List[String],    triada:java.util.ArrayList[Array[String]],   triada2:java.util.ArrayList[Array[String]],
    cta:models.Ctacorreo,
    cantidadUA:Integer, cantidadEvaluadores:Integer)
@import helper._
@*
nodos<br>
@for(n<-nodos){
    @n,
}
<br><br>

@for(i <- 0 until data.size()) {
    @for(j <- 0 until data.get(i).length) {
        @data.get(i)(j)
        @if(j < data.get(i).length - 1) { | }
    }
}
***********************<br>
@for(i <- 0 until data.size()) {
    ['@data.get(i)(0)', '@data.get(i)(1)', 1],<br>
}

*@
@main {
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/sankey.js"></script>
    <script src="https://code.highcharts.com/modules/non-cartesian-zoom.js"></script>
    <script src="https://code.highcharts.com/modules/mouse-wheel-zoom.js"></script>
    <!--
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    -->


    <style>
        .fuenteTablero {
            color: #7a7a7a;
            font-size: 2rem;
            .cantidad {
                font-size: 2.5rem;
            }
            .subtitulo {
                font-size: 1.5rem;
            }

            .iconitos {
                font-size: 1.2rem;
                padding: 5px 5px;
                float: right !important;
            }

        }

    </style>

	Tablero de indicadores en construcción


    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel ">
                <div class="panel-body @if(cta!=null){bg-success}else{bg-danger}" >
                    <div class="row fuenteTablero" style="display: flex;   align-items: center;">
                        <div class="col-md-3" style="width:6rem;"><i class="fa fa-2x fa-envelope-o" aria-hidden="true"></i></div>
                        <div class="col-md-9">Cuenta de correo electrónico de salida del sistema (cuenta activa). <div class="subtitulo"> @if(cta!=null){Correcto}else{
                                De las @models.Ctacorreo.find.all().size() cuentas registradas, ninguna esta marcada como activa.<br>
                            El sistema no puede notificar por email a los involucrados en la evaluación de los RDDs.<br>
                            Ir a <a href="ctaCorreo">cuenta de correo de salida del sistema ERDD</a>
                            }</div></div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/unidadacademica">
                    <div class="row fuenteTablero" style="display: flex;   align-items: center;">
                        <div class="col-md-3" style="width:6rem;"><i class="fa fa-3x fa-building-o" aria-hidden="true"></i></div>
                        <div class="col-md-5">Unidades Académicas</div>
                        <div class="col-md-2 cantidad" >@cantidadUA</div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <a href="/evaluadores">
                        <div class="row fuenteTablero" style="display: flex;   align-items: center;">
                            <div class="col-md-3" style="width:7rem;"><i class="fa fa-3x fa-users" aria-hidden="true"></i></div>
                            <div class="col-md-5">Evaluadores</div>
                            <div class="col-md-2 cantidad" >@cantidadEvaluadores</div>
                        </div>
                        <div class="row fuenteTablero">
                            <div class="col-md-12 iconitos" style="display: flex;  justify-content: flex-end;">
                                    <div style="padding: -5px 8px;"><a href="/evaluadores"><i class="fa fa-list" aria-hidden="true"></i></a></div>
                                    <div style="padding: 0px 8px;"><a href="/evaluador/new"><i class="fa fa-plus" aria-hidden="true"></i></a></div>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>






    <div id="container0"></div>



}
<script type="text/javascript">

    $(function () {
        if (1==1)
            $('#container0').highcharts({
                chart: {
                    inverted: false,
                    zooming: {
                        type: 'xy'
                    },
                    panning: {
                        enabled: true,
                        type: 'xy'
                    },
                    panKey: 'shift'
                },
                title: {
                    text: 'Relación RDDs / aspectos / evaluadores',
                    style: {
                        fontSize: '16px'
                    }
                },
                accessibility: {
                    point: {
                        valueDescriptionFormat: '{index}. {point.from} to {point.to}, ' +
                            '{point.weight}.'
                    }
                },
                tooltip: {
                    headerFormat: null,
                    pointFormat: '{point.fromNode.name} \u2192 {point.toNode.name}: {point.weight:.0f} ',
                    nodeFormat: '{point.name}: {point.sum:.0f} ',
                    style: {
                        fontSize: '12px'
                    }
                },
                series: [{
                    keys: ['from', 'to', 'weight'],
                    linkColorMode: 'gradient',
                    nodes: [
                        @for(n<-nodos){
                            { id: '@n', nodeLabelPosition: "left" },
                        }

                        @for(c1<-cols1){
                            { id: '@c1', column:1  },
                        }

                        @for(e<-evaluadores){
                            { id: '@e', column:2  },
                        }
                    ],
                data: [
                        @for(i <- 0 until triada.size()) {
                                ['@triada.get(i)(0)', '@triada.get(i)(1)', 1],
                        }
                        @for(i <- 0 until triada2.size()) {
                                ['@triada2.get(i)(0)', '@triada2.get(i)(1)', @triada2.get(i)(2)],
                        }
                    ],
                type: 'sankey',
                dataLabels: {
                        enabled: true,
                        style: {
                            //fontSize: '12px',
                            textOverflow: 'none' ,
                            fontWeight: 'bold',
                            color: '#3b3939'
                        },
                        nodeFormatter: function() {
                            return '<span style="font-size: 12px">' + this.name + '</span>';
                        }
                    },

                nodeWidth: 100,
                nodePadding: 20,


                }]

            });



    });

</script>

<script src="@routes.Assets.at("javascripts/utilerias.js")"></script>
